# macOS
.DS_Store

# Build temporary files
papers/**/paper-build-*.md
papers/**/paper.md
papers/**/front-matter-*.md
papers/**/pdf-metadata.yaml

# Generated PDFs
# Uncomment if PDFs should not be versioned
# papers/**/output/*.pdf
